#footer-background {
    display: flex;
    width: 100%;
    min-height: 113px;
    height: fit-content;
    background: black;
    align-items: center;
    justify-content: center;
}

#footer-wrapper {
    width: fit-content;
    height: fit-content;
    text-align: center;
}

#footer-credits {
    font: normal 200 18px/30px var(--body-font-family);
    color: var(--text-color);
}