:root {
    --projects-heading-size: 40px;
    --pcapsule-heading-size: 28px;
    --pcapsule-body-size: 21px;
    --pcapsule-btn-text-size: 19px;
    --ptag-text-size: 14px;
    --container-height: 2744px;

    --projects-heading-font: normal 400 var(--projects-heading-size)/54px var(--heading-font-family);
    --pcapsule-heading-font: normal 600 var(--pcapsule-heading-size)/34px "Inter";
    --pcapsule-body-font: normal 300 var(--pcapsule-body-size)/30px var(--body-font-family);
    --ptag-text-font: normal 300 var(--ptag-text-size)/30px var(--body-font-family);
    --pcapsule-btn-font: normal 600 var(--pcapsule-btn-text-size)/23px var(--body-font-family);
    --projects-vert-padding: 100px;
}

div.col, div.col-xl-6 {
    padding: 0;
}

#projects-background {
    width: 100%;
    min-height: var(--container-height);
    height: auto;
    pointer-events: all;
    background: #202020;
    overflow: visible;
}

#projects-wrapper {
    padding-top: var(--projects-vert-padding);
    padding-bottom: var(--projects-vert-padding);
    height: fit-content;
    transform-origin: top center;
}

#projects-heading {
    position: relative;
    font: var(--projects-heading-font);
    align-items: center;
    text-align: center;
    letter-spacing: 0.01em;
    color: var(--text-color);
}

#projects-heading::after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: -20.5px;
    border-top: 3px solid var(--line-color);
    width: 143.5px;
}

#projects-content {
    display: flex;
    flex-direction: column;
    gap: 45px;
    margin-top: 91px;
}

/**
 * ========
 * ProjectCapsule Styling
 * ========
**/

.pcapsule-box {
    width: 100%;
    min-height: 562px;
    height: auto;

    background: #292929;
    border: 2px solid #FFFFFF;
    border-radius: 15px;
    overflow: hidden;
    transition: all 0.15s ease;
}

.pcapsule-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
    overflow: hidden;
    row-gap: 50px;
}

.pcapsule-info {
    display: flex;
    flex-direction: column;
    width: 533px;
    row-gap: 32px;
    margin-top: 62px;
    margin-bottom: 62px;
    margin-left: 73px;
    margin-right: 73px;
}

.pcapsule-img {
    position: relative;
    min-width: 350px;
    /* width: auto; */
    min-height: 562px;
    height: auto;
    flex-grow: 1;
}

.pcapsule-img a {
    width: fit-content;
    height: fit-content;
    text-decoration: none;
}

.pcapsule-text {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}

.pcapsule-heading {
    font: var(--pcapsule-heading-font);
    color: var(--text-color);
}

.pcapsule-body {
    font: var(--pcapsule-body-font);
    color: var(--text-color);
}

.pcapsule-skill-row {
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    column-gap: 13px;
    row-gap: 13px;
}

.pcapsule-btn-row {
    display: flex;
    gap: 23px;
}

/* Skill Tags Styling */
.ptag-box {
    display: flex;
    width: fit-content;
    height: 28px;
    padding-left: 14px;
    padding-right: 14px;
    justify-content: center;
    align-items: center;

    background: rgba(120, 120, 120, 0.58);
    border: 1px solid #676E76;
    border-radius: 5px;
}

.ptag-text {
    font: var(--ptag-text-font);
    text-transform: uppercase;
    display: flex;
    text-align: center;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.8);
}

/* Preview Image Styling */
.pcapsule-img-wrapper {
    position: absolute;
    width: 387px;
    height: 540px;
    right: -31px;
    bottom: -24px;
    filter: drop-shadow(-5px -5px 10px rgba(0, 0, 0, 0.3));
    transition: all 0.3s cubic-bezier(.07,.71,.58,.94);
}

.pcapsule-img-bg {
    position: absolute;
    width: 95%;
    height: 95%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: black;
    outline: 3px solid #e8e8e8;
    z-index: -1;
    transition: all 0.2s cubic-bezier(.07,.71,.58,.94);
}

.pcapsule-img-wrapper > img {
    width: 100%;
    height: 100%;
    transition: all 0.2s cubic-bezier(.07,.71,.58,.94);
}

.pcapsule-img-figma {
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    gap: 10px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    transform: rotate(5deg);
    filter: brightness(1);
    transition: opacity 0.2s cubic-bezier(.07,.71,.58,.94);
}

.pcapsule-img-figma img {
    width: 57px;
    height: 57px;
}

.pcapsule-img-figma span {
    font: var(--pcapsule-btn-font);
    color: var(--text-color);
}

/* Capsule Animations & Pseudoelements */
.pcapsule-box:hover,
.pcapsule-box.in-view {
    background-color: #383838;
}

.pcapsule-box:hover .pcapsule-img-wrapper,
.pcapsule-box.in-view .pcapsule-img-wrapper {
    transform: scale(103%) rotate(-5deg);

}

.pcapsule-box:hover #pcapsule-img-bg-1,
.pcapsule-box.in-view #pcapsule-img-bg-1 {
    transform: scale(103%) rotate(4deg);
}

.pcapsule-box:hover #pcapsule-img-bg-2,
.pcapsule-box.in-view #pcapsule-img-bg-2 {
    transform: scale(103%) rotate(2deg);
}

.pcapsule-img-wrapper:hover {
    cursor: pointer;
}

.pcapsule-img-wrapper:hover > img,
.pcapsule-img-wrapper:hover .pcapsule-img-bg {
    filter: brightness(0.3);
}

.pcapsule-img-wrapper:hover .pcapsule-img-figma {
    opacity: 1;
}

/* Breakpoint at which project capsule columns break into separate rows */
@media screen and (max-width: 1262px) {
    .pcapsule-info {
        width: 450px;
    }
}

@media screen and (max-width: 1178px) {
    .pcapsule-wrapper {
        gap: 0;
    }

    .pcapsule-info, .pcapsule-img {
        max-width: none;
        min-width: none;
        width: 100%;
    }

    .pcapsule-info {
        margin-bottom: 0;
    }

    .pcapsule-img {
        display: flex;
        /* margin-left: 30px; */
        height: fit-content;
        justify-content: end;
    }

    .pcapsule-img-wrapper { 
        /* position: relative; */
        width: 580.5px;
        height: 810px;
        bottom: -310px;
        /* left: 0;
        right: 10px; */
    }
}

@media screen and (max-width: 800px) {
    .pcapsule-info {
        transform: scale(0.9);
        margin-right: 20px;
        margin-left: 20px;
        margin-top: 30px;
        margin-bottom: 0;
    }

    .pcapsule-img {
        /* min-height: 0; */
    }

    .pcapsule-img-wrapper { 
        width: 387px;
        height: 540px;
        bottom: -24px;
        /* width: 90%;
        height: auto; */
        /* bottom: calc(0.01vw - 200px); */
    }
}

@media screen and (max-width: 600px) {
    .pcapsule-info {
        transform: scale(0.8);
        margin-right: 0px;
        margin-left: 0px;
        margin-top: 0px;
    }

    .pcapsule-img {
        margin-left: 50px;
    }

}
/* Adjusting background margins for smaller screen sizes */
/* Scaled down by 0.9 */
@media screen and (max-width: 1280px) {   
    #projects-background { /* 0.9 */
        min-height: 0;
        height: calc(var(--container-height) * 0.93);
    }
}

@media screen and (max-width: 1262px) {   
    #projects-background { /* 0.9 */
        height: calc(var(--container-height) * 0.98);
    }
}

@media screen and (max-width: 1178px) {
    #projects-background {
        height: calc((var(--container-height) * 1.48));
    }
}

/* 0.85 */
@media screen and (max-width: 1150px) {
    #projects-background { 
        height: calc((var(--container-height)) * 1.44);
    }
}

@media screen and (max-width: 992px) {
    #projects-background { 
        height: calc(var(--container-height) * 1.43);
    }
}

@media screen and (max-width: 840px) {
    #projects-background { 
        height: calc(var(--container-height) * 1.49);
    }
}

@media screen and (max-width: 800px) {
    #projects-background { 
        height: calc(var(--container-height) * 1.41);
    }
}

@media screen and (max-width: 726px) {
    #projects-background { 
        height: calc(var(--container-height) * 1.45);
    }
}

@media screen and (max-width: 650px) {
    #projects-background { 
        height: calc(var(--container-height) * 1.5);
    }
}

@media screen and (max-width: 634px) {
    #projects-background { 
        height: calc(var(--container-height) * 1.55);
    }
}

@media screen and (max-width: 600px) {
    #projects-background { 
        height: calc(var(--container-height) * 1.27);
    }
}


@media screen and (max-width: 522px) {
    #projects-background { 
        height: calc(var(--container-height) * 1.32);
    }
}

@media screen and (max-width: 472px) {
    #projects-background { 
        height: calc(var(--container-height) * 1.37);
    }
}

@media screen and (max-width: 432px) {
    #projects-background { 
        height: calc(var(--container-height) * 1.42);
    }
}

@media screen and (max-width: 402px) {
    #projects-background { 
        height: calc(var(--container-height) * 1.45);
    }
}

@media screen and (max-width: 388px) {
    #projects-background { 
        height: calc(var(--container-height) * 1.5);
    }
}

@media screen and (max-width: 350px) {
    #projects-background { 
        height: calc(var(--container-height) * 1.15);
    }
}

@media screen and (max-width: 292px) {
    #projects-background { 
        height: calc(var(--container-height) * 1.27);
    }
}